#white-space #front-page {
	width:680px;
	text-align:center;
	padding-top:10px;
	color:#999;
}
#white-space #front-page h1, #white-space #front-page h2 {
	font-size:12px;
	font-weight:normal;
	color:999;
}
#main #featured-article {
	float:left;
	width:673px;
	padding-top:10px;
}
#main #featured-article #featured-article-text {
	float:left;
	width:445px;
}
#main #featured-article #featured-article-text #featured-article-title {
	float:left;
	padding-top:13px;
	font-size:15px;
	font-weight:bold;
	color:#333;
}
#main #featured-article #featured-article-text #featured-article-title a {
	color:#333;
	text-decoration:none;
}
#main #featured-article #featured-article-text #featured-article-title a:hover {
	text-decoration:underline;
}
#main #featured-article #featured-article-text #featured-article-author {
	float:left;
	padding:18px 0 0 14px;
	font-size:10px;
	font-weight:bold;
	color:#aaa;
}
#main #featured-article #featured-article-text #featured-article-author a {
	color:#aaa;
	text-decoration:none;
}
#main #featured-article #featured-article-text #featured-article-author a:hover {
	text-decoration:underline;
}
#main #featured-article #featured-article-text #featured-article-teaser p {
	float:left;
	width:445px;
	font-size:11px;
}
#main #featured-article #featured-article-text #featured-article-teaser p a {
	padding-left:10px;
	font-weight:bold;
}
#main #featured-article #featured-article-text  #more-articles {
	float:left;
	width:445px;
	padding:15px 0 15px 0;
	text-align:center;
}
#main #featured-article #featured-article-text  #more-articles a {
	padding:0 5px 0 5px;
	font-weight:bold;
}
#main #featured-article #featured-article-image {
	float:right;
}
#main #latest-news {
	float:left;
	width:673px;
	padding-top:5px;
}
#main #latest-news .news-update {
	float:left;
	padding:15px 0 15px 0;
}
#main #latest-news .news-update .news-image {
	float:left;
	width:170px;
	padding-right:16px;
}
#main #latest-news .news-update .news-text {
	float:left;
	width:487px;
}
#main #latest-news .news-update .news-text .news-title {
	font-size:15px;
	font-weight:bold;
	color:#333;
}
#main #latest-news .news-update .news-text .news-title a {
	color:#333;
	text-decoration:none;
}
#main #latest-news .news-update .news-text .news-title a:hover {
	text-decoration:underline;
}
#main #latest-news .news-update .news-text .news-date {
	float:left;
	font-size:13px;
	font-weight:bold;
	color:#b36f2e;
}
#main #latest-news .news-update .news-text .news-author {
	float:left;
	padding:3px 0 0 14px;
	font-size:10px;
	font-weight:bold;
	color:#aaa;
}
#main #latest-news .news-update .news-text .news-author a {
	color:#aaa;
	text-decoration:none;
}
#main #latest-news .news-update .news-text .news-author a:hover {
	text-decoration:underline;
}
#main #latest-news .news-update .news-text .news-blurb {
	float:left;
	width:487px;
}
#main #latest-news .news-update .news-text .news-blurb p {
	padding-top:10px;
}
#main #news-archive-search {
	float:left;
	width:673px;
	padding:20px 0 40px 0;
	text-align:center;
}
#main #news-archive-search a {
	padding:0 10px 0 10px;
	font-weight:bold;
}