body {
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	color:#666;
}
body a, #white-space #front-page a, #left #mars-pic-of-the-day #pod-add a {
	color:#6699cc;
	text-decoration:underline;
}
body a:hover, #white-space #front-page a:hover, #left #mars-pic-of-the-day #pod-add a:hover {
	color:#0099ff;
	text-decoration:none;
}
#left #red-background {
	color:#fff;
}
#left #red-background li.little-link {
	font-size:11px;
	font-weight:bold;
}
#left #red-background li.advanced-search {
	font-size:10px;
}
#left #red-background input {
	font-family:Verdana, Arial, sans-serif;
	font-size:11px;
	color:#555;
}
#left #mars-pic-of-the-day {
	font-family:Arial;
}
#left #mars-pic-of-the-day #pod-title {
	font-weight:bold;
}
#left #mars-pic-of-the-day #pod-date {
	font-size:11px;
}
#left #mars-pic-of-the-day #pod-credit {
	font-size:9px;
}
#left #mars-pic-of-the-day #pod-title a, #left #mars-pic-of-the-day #pod-date a, #left #mars-pic-of-the-day #pod-credit a {
	color:#666;
	text-decoration:none;
}
#left #mars-pic-of-the-day #pod-add {
	font-family:Verdana, Arial, sans-serif;
	font-size:11px;
}
#top a, #left a, #bottom a {
	color:#fff;
	text-decoration:none;
}
#top a:hover, #left a:hover, #bottom a:hover {
	text-decoration:underline;
}
#top #red-bar #login-logout a {
	font-size:10px;
}
#top #red-bar #red-bar-links a {
	font-size:12px;
}
#top #under-red #dashboard {
	font-size:11px;
}
#top #under-red #dashboard #username {
	font-weight:bold;
}
#white-space #subpage-controls a {
	font-size:11px;
	color:#fff;
	text-decoration:none;
}
#white-space #subpage-controls a:hover {
	font-size:11px;
	color:#fff;
	text-decoration:underline;
}
#main .thread-post-bar .author a {
	font-size:10px;
	color:#333;
}
#main .thread-post-bar .author a:hover {
	color:#666;
}
#main .thread-post-bar .time {
	font-size:9px;
	font-weight:normal;
	color:#666;
}
#main .thread-post-bar a.reply {
	font-size:10px;
	font-weight:normal;
	color:#888;
	text-decoration:none;
}
#main .thread-post-bar a:hover.reply {
	color:#555;
}
#main .thread-post-bar a.reply .reply-link{
	color:#336699;
}
#main .thread-post-bar a:hover.reply .reply-link{
	text-decoration:underline;
}
#main .thread-post-body {
	font-size:11px;
	font-weight:normal;
	color:#333;
}
#main .thread-reply {
	font-size:11px;
	font-weight:normal;
}
#main .thread-reply  textarea, #main .thread-new  textarea {
	font-size:11px;
}
#main .thread-reply input, #main .thread-new  input {
	font-size:10px;
	background-color:#eadfcb;
	border:1px solid #cd9761;
	color:#666;
}
#main .thread-reply input.submit, #main .thread-new  input.submit {
	color:#000;
}
#main .caption {
	font-size:10px;
	text-align:right;
}
#main a.footnote {
	font-family:Arial;
	font-size:10px;
	position:relative;
	top:-5px;
	text-decoration:none;
}
#main a:hover.footnote {
	text-decoration:underline;
}
#main input{
	font-size:13px;
}
#main .submit input {
	font-size:12px;
}
#bottom {
	font-size:10px;
	color:#e5e5e5;
}
#bottom a {
	font-size:11px;
}

h1 {
	font-size:18px;
	color:#666;
}
h2 {
	font-size:14px;
	font-weight:bold;
	color:#888;
}

.larger {
	font-size:larger;
}
.smaller {
	font-size:smaller;
}
.small {
	font-size:10px;
}
.strong {
	font-weight:bold;
}
p.double {
	padding-top:15px;
}